<!-- STEP 1 CONTENT (injecté dans SkiLayout) -->

<div class="step-layout">

  <!-- LEFT TEXT -->
  <div class="left">
    <h1>
      HEIGHT AND<br>
      WEIGHT WILL<br>
      BE<br>
      OUR STARTING<br>
      POINT
    </h1>
  </div>

  <!-- RIGHT INPUTS -->
  <div class="right">

    <!-- HEIGHT -->
    <div class="input-block">
      <h2>HOW TALL ARE YOU?</h2>

      <div class="range-labels">
        <span>140 cm</span>
        <span>220 cm</span>
      </div>

      <p class="value">{{ height }} cm</p>

      <input type="range"
             min="140"
             max="220"
             step="1"
             [value]="height"
             (input)="onHeightChange($event)" />
    </div>

    <!-- WEIGHT -->
    <div class="input-block">
      <h2>HOW MUCH DO YOU WEIGH?</h2>

      <div class="range-labels">
        <span>40 kg</span>
        <span>150 kg</span>
      </div>

      <p class="value">{{ weight }} kg</p>

      <input type="range"
             min="40"
             max="150"
             step="1"
             [value]="weight"
             (input)="onWeightChange($event)" />
    </div>

  </div>

</div>

<!-- BUTTONS -->
<button class="prev-btn" routerLink="/">PREV</button>
<button class="next-btn" (click)="next()">NEXT</button>
