   <!------------------------- Step-6 ----------------------------->
   <div class="multisteps_form_panel" data-animation="slideVert">
    <div class="form_content">
       <div class="row">
         <div class="col-lg-4 self-center ">
            <span class="title text-black font-sans text-2xl md:text-5xl  mb-5 hidden md:block"><span class="font-bold"></span> IT'S ALL<br>
            <span >ABOUT</span><span
               class="font-bold"> YOU</span>
         </span>
            </div>
            <div class="col-lg-4 self-center text-center md:hidden">
               <span class=" title text-black font-sans text-2xl md:text-5xl  mb-5 "><span class="font-bold"></span> IT'S ALL<br>
               <span >ABOUT</span><span
                  class="font-bold"> YOU</span>
            </span>
               </div>
      
               <div class="col-lg-4 text-center   hidden md:block">
            
         
                  <app-lottie-player  [options]="options"  (animationCreated)="animationCreated($any($event))"></app-lottie-player>
                 
   
                 
             
             </div>
          <div class="col-lg-4 text-center">
            <h2  class="title font-bold font-sans  text-xl md:text-2xl text-center mt-10 mb-2 text-orange-600">DO YOU PREFER?</h2>
            <p class="text-center mb-2 md:mb-4"><span class=" text-orange-600">*</span> This field is required</p>

             <div class="form_items radio-list">
                <ul class="text-uppercase list-unstyled">
                   <li>
                      <label for="opt_20" class="step_6 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                      <input (change)="checkCheckBoxvalue1($event)"  type="radio" id="opt_20" name="stp_6_select_option" value="moderate-speed">
                         <span class="label-content d-inline-block text-center rounded-pill">MODERATE SPEED</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_21" class="step_6 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                      <input (change)="checkCheckBoxvalue1($event)"  type="radio" id="opt_21" name="stp_6_select_option" value="high-speed">
                         <span class="label-content d-inline-block text-center rounded-pill">HIGH SPEED</span>
                      </label>
                   </li>
            
           
                </ul>
             </div>
          </div>
       </div>
    </div>
    <div class="form_btn py-5 d-flex justify-content-center align-items-center">
      <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span>Back</button>
      <button [disabled]="!hidden" type="button" [ngClass]="{'js-btn-next f_btn rounded-pill active text-uppercase cursor-not-allowed opacity-30':  !hidden  , 'js-btn-next f_btn rounded-pill active text-uppercase ' :  hidden }"   id="nextBtn"> Next <span><i class="fas fa-arrow-right ps-1"></i></span></button>
   </div>
 

 </div>