

<div class="wrapper position-relative">
    
    <div class="container-fluid px-5 flex-1 justify-center">
      <div class="step_bar_content ps-5 pt-5">
  
          <h5 class="text-black text-uppercase d-inline-block">OGSO SMART PRODUCT SELECTOR</h5>
       </div>
           <div class="top-right-logo">
    <img src="./assets/images/thumbnail_sps logo V2.png" alt="OGSO logo">
  </div>
       <div class="progress_bar steps_bar mt-3 ps-5 d-inline-block">
          <div class="step rounded-pill d-inline-block text-center position-relative active current">1</div>
          <div class="step rounded-pill d-inline-block text-center position-relative">2</div>
          <div class="step rounded-pill d-inline-block text-center position-relative">3</div>
          <div class="step rounded-pill d-inline-block text-center position-relative">4</div>
          <div class="step rounded-pill d-inline-block text-center position-relative">5</div>
          <div class="step rounded-pill d-inline-block text-center position-relative">6</div>
          <div class="step rounded-pill d-inline-block text-center position-relative">7</div>
     
       </div>
       <!-- <div class="logo" >    
         <img src="./assets/images/ogso-logo.png" alt="image_not_found">
      </div> -->
       <form class="multisteps_form position-relative" id="wizard" >
         <app-step1></app-step1>
         <app-step2></app-step2>
         <app-step3></app-step3>
         <app-step4></app-step4>
         <app-split-style></app-split-style>
         <app-step6></app-step6>
         <app-step5></app-step5>
       
      </form>
    </div>

 </div>