       <!------------------------- Step-4 ----------------------------->
       <div class="multisteps_form_panel" data-animation="slideVert">
         <div class="form_content">
            <div class="row">
              <div class="col-lg-4 self-center">
                <span class=" title text-black font-sans text-2xl md:text-5xl  mb-5 hidden md:block"><span class="font-bold">CAMBER</span> AND
                 <span class="font-bold">ROCKER</span> DEPENDS ON <span class="font-bold">MOUNTAIN </span><br>  <span class="font-bold">CONDITIONS</span><br>
                 <span >AND </span><span class="font-bold">SNOW</span>
              </span>
                </div>
                <div class="col-lg-4 self-center text-center md:hidden">
                   <span class=" title text-black font-sans text-2xl md:text-5xl  mb-5 "><span class="font-bold">EACH TYPE</span> OF SKI
                   <span class="font-bold">PERFORMS<br></span> <span class="font-bold">DIFFERENTLY<br></span>ACCORDING TO THE <span
                   class="font-bold">TERRAIN</span>
                </span>
                
                  </div>
                <div class="col-lg-4 text-center   hidden md:block">
                   <div class="form_img justify-center">
                
             
                      <app-lottie-player  [options]="options"  (animationCreated)="animationCreated($any($event))"></app-lottie-player>
                     
       
                     
                    </div>
                 </div>
               <div class="col-lg-4 text-center">
                 <h2  class="title font-bold font-sans  text-xl md:text-2xl text-center mt-10 mb-2 text-orange-600">WHAT IS/ARE THE MOST COMMON SNOW TYPES YOU MIGHT ENCOUNTER?</h2>
                 <p class="text-center mb-2 md:mb-4"><span class=" text-orange-600">*</span> This filed is required</p>
                  <div class="form_items  radio-list">
                     <ul class="text-uppercase list-unstyled">
                        <li >
                           <label  for="opt_13" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                           <input  (change)="checkCheckBoxvalue1($event)" type="radio" id="opt_13" name="stp_4_select_option" value="powder">
                              <span class="label-content d-inline-block text-center rounded-pill">POWDER<br><span class="text-xs">(FRESH - DEEP - SLUSH)</span></span>
                     
                           </label>
                        </li>
                
                        <li >
                           <label  for="opt_15" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                             <input class="bg-white" (change)="checkCheckBoxvalue1($event)" type="radio" id="opt_15" name="stp_4_select_option" value="crud">
                              <span class="label-content d-inline-block text-center rounded-pill">CRUD<br><span class="text-xs">(CHOPPY - TRACKED - CRUST)</span></span>
                           </label>
                        </li>
                        <li>
                           <label    for="opt_16" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                              <input (change)="checkCheckBoxvalue1($event)" type="radio" id="opt_16" name="stp_4_select_option" value="hard">
                              <span class="label-content d-inline-block text-center rounded-pill">HARD<br><span class="text-xs">(COMPRESSED - CONCRETE - ICE)</span></span>
                        
                           </label>
                        </li>
                       
                     </ul>
                  </div>
                  
            </div>
         </div>
         <!---------- Form Button ---------->
         <div class="form_btn py-5 d-flex justify-content-center align-items-center">
          <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span>PREV.</button>
           <button [disabled]="!hidden" type="button" [ngClass]="{'js-btn-next f_btn rounded-pill active text-uppercase cursor-not-allowed opacity-30':  !hidden  , 'js-btn-next f_btn rounded-pill active text-uppercase ' :  hidden }"  id="nextBtn"> Next <span><i class="fas fa-arrow-right ps-1"></i></span></button>
        </div>
       
 
      </div>