<!-- 
<div class=" px-4 mx-auto md:px-8    wrapper container-fluid px-5">
  <div class="step_bar_content ps-5 pt-5">
    <div class="logo" >    
       <img src="./assets/images/ogso-logo.png" alt="image_not_found">
    </div>

     <h5 class="text-black bold text-uppercase d-inline-block invisible">OGSO SMART PRODUCT SELECTOR</h5>
  </div>
  <div class="progress_bar steps_bar mt-3 ps-5 d-inline-block invisible">
   <div class="step rounded-pill d-inline-block text-center position-relative">1</div>
   <div class="step rounded-pill d-inline-block text-center position-relative">2</div>
   <div class="step rounded-pill d-inline-block text-center position-relative">3</div>
   <div class="step rounded-pill d-inline-block text-center position-relative">4</div>
   <div class="step rounded-pill d-inline-block text-center position-relative">5</div>
   <div class="step rounded-pill d-inline-block text-center position-relative">6</div>
   <div class="step rounded-pill d-inline-block text-center position-relative">7</div>
   
</div>


  <div class=" mb-20">



    <div class=" md:mb-16  ">
      <h2
        class="
          mt-20
          text-2xl
          font-bold
          text-center text-gray-800
          lg:text-3xl
          md:mb-6
          uppercase
        "
      >
        Choose THE GEAR YOU WANNA RIDE
      </h2>
     
  
   
    </div>
  
    <div class="grid   grid-cols-2 place-items-center mt-20">



    <a href="/ski">
      <img 
      src= "https://ogso-mountain-essentials.com/app/ski-photos/SPEARHEAD.png"
      alt="Image"
      class=""/>
    <div class="text-center mt-5">
      <p class="text-xl font-bold">SKI</p>
      
       </div>
    </a>
    
        
  
       
      
    
     
    
    <a href="splitboard">
      <img 
      src= "https://ogso-mountain-essentials.com/app/splitboard/delerium.png"
      alt="Image"
      class=""
    /> 
    <div class="text-center mt-5">
      <p class="text-2xl"></p>
      <p class="text-xl font-bold">SPLITBOARD</p>
       </div>
    </a>
    
      

  </div>
    
   
  </div>
 -->
 

 
  

<div class="wrapper position-relative">
    
  <div class="container-fluid px-5 flex-1 justify-center">
    <div class="step_bar_content ps-5 pt-5 invisible hidden md:block">

        <h5 class="text-black text-uppercase d-inline-block invisible">OGSO SMART PRODUCT SELECTOR</h5>
     </div>

     <div class="progress_bar steps_bar mt-3 ps-5 d-inline-block justify-center invisible ">
        <div class="step rounded-pill d-inline-block text-center position-relative active current">1</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">2</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">3</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">4</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">5</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">6</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">7</div>
   
     </div>
     
     <!-- <div class="logo" >    
       <img src="./assets/images/ogso-logo.png" alt="image_not_found">
    </div> -->
    
    <div>
      
      <p  id='title' class="text-center
     
      text-lg
      md:text-4xl
      font-bold
       text-gray-800 md:mb-6
      uppercase">Choose the Gear you wanna ride</p>
    </div>
     <form class="multisteps_form position-relative" id="wizard" >
      <div class=" mb-20">



        <div class=" md:mb-16  ">
         
         
      
       
        </div>
      
        <div class="grid   grid-cols-1 place-items-center mt-20">
    
    
    
        <div routerLink="/ski">
          <img 
          src= "https://ogso-mountain-essentials.com/app/chooseGear/ogso-ski.png"
          alt="Image"
          class=""/>
        <div class="text-center mt-5">
          <p class="text-l font-bold">SKI</p>
          
           </div>
        </div>
        
            
      
           
          
        
         
        
        <!-- <div routerLink="/splitboard">
          <img 
          src= "https://ogso-mountain-essentials.com/app/chooseGear/ogso-split.png"
          alt="Image"
          class=""
        /> 
        <div class="text-center mt-5">
          <p class="text-2xl"></p>
          <p class="text-l font-bold">SPLITBOARD</p>
           </div>
        </div>
         -->
          
    
      </div>
      </div>
    
      <div >
     
      
       
    
     
      </div>
     
    </form>
  </div>

</div>



   