<!-- CONTENU UNIQUEMENT (injecté dans ski-layout via router-outlet) -->

<div class="left">
  <h1>
    LET'S PICK <br>
    THE PERFECT <br>
    OGSO <br>
    APPARATUS <br>
    FOR YOU!
  </h1>
</div>

<div class="center">
  <img src="assets/images/SKIBASE.webp" class="ski-img">
</div>

<div class="right">
  <p>
    Weight, width, length and camber are unique to the rider,
    and this depends on your style, capabilities, 
    height, weight, purpose and situation.
  </p>

  <p>
    We developed this app in order to help you
    pick the appropriate OGSO product.
  </p>

  <p class="signature">
    - OGSO Team
  </p>
</div>

<button class="next-btn" routerLink="/ski/step1">NEXT</button>

